BOT_CONTAINER_NAME=milk-delivery-bot-container
BOT_IMAGE_NAME=milk-delivery-bot-image
BOT_NAME=MilkDeliveryKMVbot
BOT_TOKEN=123456789
ADMIN_PASSWORD=1234

USE_REDIS=False

DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=0.0.0.0
POSTGRES_URI=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

POSTGRES_IMAGE=postgres

# "tobi312/pgadmin4" for arm64 arch (raspberry pi)             
# "dpage/pgadmin4" for x86_64
PGADMIN_IMAGE=tobi312/pgadmin4                                                        

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin