BOT_CONTAINER_NAME=milk-delivery-bot-container
BOT_IMAGE_NAME=milk-delivery-bot-image
BOT_NAME=MilkDeliveryKMVbot
BOT_TOKEN=123456789
ADMIN_PASSWORD=1234

USE_REDIS=False

DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=0.0.0.0
POSTGRES_URI=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
POSTGRES_IMAGE=arm64v8/postgres                         # "arm64v8/postgres" for arm64 arch (raspberry pi)
                                                        # "postgres:latest" for x86_64

PGADMIN_IMAGE=biarms/pgadmin4:linux-arm64v8-2.1         # "biarms/pgadmin4:linux-arm64v8-2.1" for arm64 arch (raspberry pi)             
                                                        # "dpage/pgadmin4" for x86_64

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin